@font-face {
    font-family:"Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter")
         url(/fonts/InterRegular.woff2) format(woff2), 
         url(/fonts/InterRegular.woff) format(woff);
         
}

@font-face {
    font-family:"Inter";
    font-style: normal;
    font-weight: 700;
    src: local("Inter")
        url(/fonts/InterBold.woff2) format(woff2),
        url(/fonts/InterBold.woff) format(woff);
}
