body {
  margin: 0;
  font: 400 16px "Nunito", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(114px);
  color: #7E92B2;
}

h6, p {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer {
  padding-top: 56px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.footer-flex-left {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

.footer-flex-left-link {
  display: flex;
  flex-direction: column;
}

.footer-flex-left-link h6 {
  font: 700 20px "Nunito";
  color: #5A6980;
  margin-bottom: 27px;
}

.footer-flex-left-link a {
  text-decoration: none;
  font: 400 16px "Nunito";
  color: #7E92B2;
  margin-top: 8px;
}

.footer-flex-right {
  display: flex;
  flex-basis: 30%;
  justify-content: center;
}

.footer-flex-right-text {
  font: 700 20px "Nunito";
  color: #5A6980;
  margin-bottom: 27px;
}

.footer-flex-right-img {
  margin-right: 8px;
  margin-bottom: 40px;
}

.footer-flex-right-email {
  position: relative;
  width: 364px;
}

.footer-flex-right-email input {
  border-radius: 85px;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #f3f3f3;
  outline: none;
  background: linear-gradient(130.17deg, rgba(255, 255, 255, 0.136) 2.38%, rgba(255, 255, 255, 0.85) 98.89%);
  backdrop-filter: blur(60px);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  color: #A2BDE5;
}

.footer-flex-right-email button {
  position: absolute;
  border-radius: 47px;
  border: 0;
  background: linear-gradient(130.17deg, rgba(255, 255, 255, 0.136) 2.38%, rgba(255, 255, 255, 0.85) 98.89%);
  backdrop-filter: blur(60px);
  right: 0px;
  top: 0;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #B4D2FF;
  margin-bottom: 25px;
}

.footer-reserved {
  display: flex;
  justify-content: space-between;
}

.footer-reserved-link {
  font: 700 16px "Nunito";
  color: #6C7E99;
}

.footer-reserved a {
  text-decoration: none;
  color: #7E92B2;
  margin-right: 8px;
}
