body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8692A6;
}

h1, h2, p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.Info-flex {
    display: flex;
    flex-basis: 100%;
}

.frame-flex {
    background-image: url("/img/frame.png");
    background-repeat: no-repeat;
    padding-top: 64px;
    padding-left: 82px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
}

.frame-text {
    margin-top: 276px;  
}

.text-passage {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 38px;
    margin-bottom: 22px;
    width: 473px;
}

span {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.register-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 53%;
}

.register-text {
    width: 426px;
}

h2 { 
    font-size: 30px;
    font-weight: 700;
    color:#000000;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    margin-bottom: 39px;
}

form {
    width: 426px;
    display: flex;
    flex-direction: column;
}

label {
    color: #696F79;
    font-weight: 500;
    margin-bottom: 14px;
}

#form-name {
    max-width: 100%;
    border-radius: 6px;
    border: 1px solid #1565D8;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 30px;
    margin-bottom: 24px;
    font-size: 14px;
    color: #494949;
}

#form-emal {
    max-width: 100%;
    border-radius: 6px;
    border: 1px solid #8692A6;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 30px;
    margin-bottom: 24px;
    font-size: 14px;
    color: #8692A6;
}

#form-check {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    cursor: pointer;
    margin-bottom: 39px;
}

button {
    padding: 22px 147px;
    border-radius: 6px;
    background-color: #1565D8;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
}
